@import './markdown.css';

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Pacifico&display=swap');

html {
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  font-family: 'Pacifico', cursive !important;
}
.font-sans {
  font-family: 'Pacifico', cursive !important;
  font-family: 'Lilita One', cursive !important;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
